body {
  margin: 0;
  font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
}

.post {
  padding: 0 30px;
  display: grid;

  grid: {
    template-columns: repeat(5, 1fr);
    template-rows: repeat(12, 1fr);
    column-gap: 40px;
  }

  font: {
    family: 'Noto Sans JP', sans-serif;
    size: 16px;
  }
}

.post__title {
  grid: {
    column: 1 / 5;
    row: 1 / 3;
  }
}

.post__sub {
  grid: {
    column: 1 / -1;
    row: 2;
  }
}

.post__date {
  grid: {
    column: 5;
    row: 2;
  }
}

.post__lead {
  grid: {
    column: 1 / 3;
    row: 3 / 5;
  }
}

.post__text01 {
  grid: {
    column: 1 / 3;
    row: 5 / 9;
  }
}

.post-fig01 {
  grid: {
    column: 3 / 6;
    row: 3 / 7;
  }
}

.post__catch {
  grid: {
    column: 3 / 6;
    row: 7;
  }
}

.post__text02 {
  grid: {
    column: 3 / 5;
    row: 8 / 12;
  }
}

.post-fig02 {
  grid: {
    column: 1 / 3;
    row: 9 / 13;
  }
}

.post__sns {
  grid: {
    column: 5;
    row: 8 / 13;
  }
}

.fig__img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}